# Prediction of bookings based on user behavior
Data Scientist â€“ User Profiling, Hotel Search

- Author: Kai Chen
- Date: Apr, 2018

There are 3 types of data: Bookings, User actions, Example

## Data: Bookings
- Description: List of sessions, each with: session-related contextual data, and whether at least one booking was made
- Files:
	- case_study_bookings_train.csv: Training sessions for bookings
	- case_study_bookings_target.csv: Target sessions to predict bookings
- Rows: Each row represents a session with session context and the outcome of this session
- Columns:
	- ymd: Date of the session in format 'yyMMdd'
	- user_id: Anonymized cookie id of the visitor
	- session_id: Anonymized id of the session
	- referer_code: Encoded category of the referer to the website
	- is_app: If the session was made using the trivago app
	- agent_id: Encoded type of the browser
	- traffic_type: A categorization of the type of the traffic
	- has_booking: 1 if at least one booking was made during the session (excluded from the target set)
    
## Data: User Actions
- Description: Sequence of various type of user actions generated during the usage of the website.
- Files
	- case_study_actions_train.csv: Training set of user actions
	- case_study_actions_target.csv: User actions in the target sessions
- Rows: Each row represents one action from/to the user
- Columns:
	- ymd: Date of the action in format 'yyMMdd'
	- user_id: Anonymized cookie id of the visitor
	- session_id: Anonymized id of the session
	- action_id: Type of the action
	- reference: Object of the action. - We note that action_ids with big set of reference values (e.g. action id '2116') are typically related to the content (e.g hotels, destinations or keywords); while action_ids with small reference set (e.g. action id '2351') are more related a function of the website (e.g. sorting order, room type, filters, etc.)
	- step: The number identifying the action in the session
	
## Data: Example Solution
- Description: List of predictions for bookings in the target sessions
- File: case_study_bookings_target_prediction_example.csv
- Rows: Each row represent a target session for which a prediction should be given
- Columns:
	- session_id: Anonymized id of the session
	- has_booking: Random binary predictions for bookings

In [1]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LogisticRegression

import numpy as np
import pandas as pd
from datetime import datetime

from sklearn.model_selection import train_test_split
from sklearn.metrics import matthews_corrcoef
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold
from sklearn.externals import joblib
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn import linear_model

import xgboost as xgb
from xgboost import XGBClassifier

In [2]:
# ---
# Define file paths
TRAIN_BOOKING_FILE_PATH = 'data/case_study_bookings_train.csv'    # training sessions for bookings
TARGET_BOOKING_FILE_PATH = 'data/case_study_bookings_target.csv'  # target sessions to predict bookings

TRAIN_ACTION_FILE_PATH = 'data/case_study_actions_train.csv'       # training set of user actions
TARGET_ACTION_FILE_PATH = 'data/case_study_actions_target.csv'     # user actions in the target sessions

## Step 1: read and explore the data

In [5]:
train_booking_df = pd.read_csv(TRAIN_BOOKING_FILE_PATH, sep='\t')
train_booking_df['ymd'] = pd.to_datetime(train_booking_df['ymd'].astype('str'))

print('train booking')
print(train_booking_df.columns)
display(train_booking_df.head(5))

train booking
Index(['ymd', 'user_id', 'session_id', 'referer_code', 'is_app', 'agent_id',
       'traffic_type', 'has_booking'],
      dtype='object')

,ymd,user_id,session_id,referer_code,is_app,agent_id,traffic_type,has_booking
0,2017-04-23,388309106223940,3052767322364990735,0,0,2,1,0
1,2017-04-10,452426828488840,1022778951418899936,0,0,10,2,0
2,2017-04-15,452426828488840,4191504489082712531,0,0,10,2,0
3,2017-04-06,819438352219100,4560227804862289210,1,0,1,1,0
4,2017-04-07,1113732603712480,4115013282086590434,0,0,9,2,0

In [6]:
target_booking_df = pd.read_csv(TARGET_BOOKING_FILE_PATH, sep='\t')
target_booking_df['ymd'] = pd.to_datetime(target_booking_df['ymd'].astype('str'))

print('target booking')
print(target_booking_df.columns)
display(target_booking_df.head(5))

target booking
Index(['ymd', 'user_id', 'session_id', 'referer_code', 'is_app', 'agent_id',
       'traffic_type'],
      dtype='object')

,ymd,user_id,session_id,referer_code,is_app,agent_id,traffic_type
0,2017-04-30,1607565913119260,4175939893794521966,0,0,14,6
1,2017-04-30,1607565913119260,9175174925268392332,0,0,14,1
2,2017-04-30,2669945826129900,5361965966177226983,0,0,6,6
3,2017-04-30,6247954936827660,7996347049132178025,0,0,13,2
4,2017-04-30,6447705595982360,6061498713259551906,99,0,1,6

In [7]:
train_user_id_list = train_booking_df['user_id'].unique()
train_session_id_list = train_booking_df['session_id'].unique()

print('number of users (train booking data): {}'.format(len(train_user_id_list)))
print('number of sessions (tarin booking data): {}'.format(len(train_session_id_list)))
print('dataframe size (train booking data)')
print(train_booking_df.shape)

number of users (train booking data): 181860
number of sessions (tarin booking data): 307677
dataframe size (train booking data)
(307677, 8)

In [8]:
target_user_id_list = target_booking_df['user_id'].unique()
target_session_id_list = target_booking_df['session_id'].unique()

print('number of users (target booking data): {}'.format(len(target_user_id_list)))
print('number of sessions (target booking data): {}'.format(len(target_session_id_list)))
print('dataframe size (target booking data)')
print(target_booking_df.shape)

number of users (target booking data): 23402
number of sessions (target booking data): 30128
dataframe size (target booking data)
(30128, 7)

In [9]:
train_action_df = pd.read_csv(TRAIN_ACTION_FILE_PATH, sep='\t')
train_action_df['ymd'] = pd.to_datetime(train_action_df['ymd'].astype('str'))

print('train action')
print(train_action_df.columns)
display(train_action_df.head(5))

train action
Index(['ymd', 'user_id', 'session_id', 'action_id', 'reference', 'step'], dtype='object')

         ymd          user_id           session_id  action_id  reference  step
0 2017-04-23  388309106223940  3052767322364990735       8001    1323836     1
1 2017-04-10  452426828488840  1022778951418899936       2116     929835     1
2 2017-04-10  452426828488840  1022778951418899936       6999          0     2
3 2017-04-10  452426828488840  1022778951418899936       2116     929835     3
4 2017-04-10  452426828488840  1022778951418899936       2503          1     4

In [10]:
train_user_id_action_list = train_action_df['user_id'].unique()
train_session_id_action_list = train_action_df['session_id'].unique()

print('number of users (train action data): {}'.format(len(train_user_id_action_list)))
print('number of sessions (train action data): {}'.format(len(train_session_id_action_list)))
print('dataframe size (train booking data)')
print(train_action_df.shape)

number of users (train action data): 181730
number of sessions (train action data): 306106
dataframe size (train booking data)
(5862863, 6)

In [11]:
target_action_df = pd.read_csv(TARGET_ACTION_FILE_PATH, sep='\t')
target_action_df['ymd'] = pd.to_datetime(target_action_df['ymd'].astype('str'))

print('target action')
print(target_action_df.columns)
print(target_action_df.head(5))

target action
Index(['ymd', 'user_id', 'session_id', 'action_id', 'reference', 'step'], dtype='object')
         ymd           user_id           session_id  action_id  reference  \
0 2017-04-30  1607565913119260  4175939893794521966       2113      60196
1 2017-04-30  1607565913119260  4175939893794521966       6999          0
2 2017-04-30  1607565913119260  4175939893794521966       2113      60196
3 2017-04-30  1607565913119260  9175174925268392332       2100          0
4 2017-04-30  1607565913119260  9175174925268392332       6999          0

   step
0     1
1     2
2     3
3     1
4     2

In [12]:
target_user_id_action_list = target_action_df['user_id'].unique()
target_session_id_action_list = target_action_df['session_id'].unique()


print('number of users (target action data): {}'.format(len(target_user_id_action_list)))
print('number of sessions (target action data): {}'.format(len(target_session_id_action_list)))
print('dataframe size (target booking data)')
print(target_action_df.shape)

number of users (target action data): 23314
number of sessions (target action data): 29957
dataframe size (target booking data)
(575152, 6)

In [13]:
train_action_df = pd.read_csv(TRAIN_ACTION_FILE_PATH, sep='\t')
train_action_df['ymd'] = pd.to_datetime(train_action_df['ymd'].astype('str'))

print('train action')
print(train_action_df.columns)
print(train_action_df.head(5))

train action
Index(['ymd', 'user_id', 'session_id', 'action_id', 'reference', 'step'], dtype='object')
         ymd          user_id           session_id  action_id  reference  step
0 2017-04-23  388309106223940  3052767322364990735       8001    1323836     1
1 2017-04-10  452426828488840  1022778951418899936       2116     929835     1
2 2017-04-10  452426828488840  1022778951418899936       6999          0     2
3 2017-04-10  452426828488840  1022778951418899936       2116     929835     3
4 2017-04-10  452426828488840  1022778951418899936       2503          1     4

In [14]:
train_user_id_action_list = train_action_df['user_id'].unique()
train_session_id_action_list = train_action_df['session_id'].unique()


print('number of users (train action data): {}'.format(len(train_user_id_action_list)))
print('number of sessions (train action data): {}'.format(len(train_session_id_action_list)))
print('dataframe size (train booking data)')
print(train_action_df.shape)

number of users (train action data): 181730
number of sessions (train action data): 306106
dataframe size (train booking data)
(5862863, 6)

In [15]:
target_action_df = pd.read_csv(TARGET_ACTION_FILE_PATH, sep='\t')
target_action_df['ymd'] = pd.to_datetime(target_action_df['ymd'].astype('str'))

print('target action')
print(target_action_df.columns)
print(target_action_df.head(5))

target action
Index(['ymd', 'user_id', 'session_id', 'action_id', 'reference', 'step'], dtype='object')
         ymd           user_id           session_id  action_id  reference  \
0 2017-04-30  1607565913119260  4175939893794521966       2113      60196
1 2017-04-30  1607565913119260  4175939893794521966       6999          0
2 2017-04-30  1607565913119260  4175939893794521966       2113      60196
3 2017-04-30  1607565913119260  9175174925268392332       2100          0
4 2017-04-30  1607565913119260  9175174925268392332       6999          0

   step
0     1
1     2
2     3
3     1
4     2

In [16]:
target_user_id_action_list = target_action_df['user_id'].unique()
target_session_id_action_list = target_action_df['session_id'].unique()


print('number of users (target action data): {}'.format(len(target_user_id_action_list)))
print('number of sessions (target action data): {}'.format(len(target_session_id_action_list)))
print('dataframe size (target booking data)')
print(target_action_df.shape)

number of users (target action data): 23314
number of sessions (target action data): 29957
dataframe size (target booking data)
(575152, 6)

In [17]:
train_user_df =  pd.merge(train_booking_df, train_action_df, on=['ymd', 'user_id', 'session_id'])
print('train user df shape')
print(train_user_df.shape)
display(train_user_df.head(5))

train user df shape
(5862863, 11)

,ymd,user_id,session_id,referer_code,is_app,agent_id,traffic_type,has_booking,action_id,reference,step
0,2017-04-23,388309106223940,3052767322364990735,0,0,2,1,0,8001,1323836,1
1,2017-04-10,452426828488840,1022778951418899936,0,0,10,2,0,2116,929835,1
2,2017-04-10,452426828488840,1022778951418899936,0,0,10,2,0,6999,0,2
3,2017-04-10,452426828488840,1022778951418899936,0,0,10,2,0,2116,929835,3
4,2017-04-10,452426828488840,1022778951418899936,0,0,10,2,0,2503,1,4

In [18]:
print('ymd (train)')
print(train_user_df['ymd'].unique())

ymd (train)
['2017-04-23T00:00:00.000000000' '2017-04-10T00:00:00.000000000'
 '2017-04-15T00:00:00.000000000' '2017-04-06T00:00:00.000000000'
 '2017-04-07T00:00:00.000000000' '2017-04-19T00:00:00.000000000'
 '2017-04-16T00:00:00.000000000' '2017-04-17T00:00:00.000000000'
 '2017-04-04T00:00:00.000000000' '2017-04-13T00:00:00.000000000'
 '2017-04-08T00:00:00.000000000' '2017-04-25T00:00:00.000000000'
 '2017-04-09T00:00:00.000000000' '2017-04-12T00:00:00.000000000'
 '2017-04-03T00:00:00.000000000' '2017-04-24T00:00:00.000000000'
 '2017-04-27T00:00:00.000000000' '2017-04-26T00:00:00.000000000'
 '2017-04-02T00:00:00.000000000' '2017-04-14T00:00:00.000000000'
 '2017-04-05T00:00:00.000000000' '2017-04-22T00:00:00.000000000'
 '2017-04-20T00:00:00.000000000' '2017-04-11T00:00:00.000000000'
 '2017-04-18T00:00:00.000000000' '2017-04-21T00:00:00.000000000'
 '2017-04-01T00:00:00.000000000']

In [19]:
target_user_df =  pd.merge(target_booking_df, target_action_df, on=['ymd', 'user_id', 'session_id'])
print('target user df shape')
print(target_user_df.shape)

target user df shape
(575152, 10)

In [20]:
print(target_user_df.columns)
print(target_user_df.head(5))
print('ymd (target)')
print(target_user_df['ymd'].unique())

Index(['ymd', 'user_id', 'session_id', 'referer_code', 'is_app', 'agent_id',
       'traffic_type', 'action_id', 'reference', 'step'],
      dtype='object')
         ymd           user_id           session_id  referer_code  is_app  \
0 2017-04-30  1607565913119260  4175939893794521966             0       0
1 2017-04-30  1607565913119260  4175939893794521966             0       0
2 2017-04-30  1607565913119260  4175939893794521966             0       0
3 2017-04-30  1607565913119260  9175174925268392332             0       0
4 2017-04-30  1607565913119260  9175174925268392332             0       0

   agent_id  traffic_type  action_id  reference  step
0        14             6       2113      60196     1
1        14             6       6999          0     2
2        14             6       2113      60196     3
3        14             1       2100          0     1
4        14             1       6999          0     2
ymd (target)
['2017-04-30T00:00:00.000000000' '2017-04-28T00:00:00.000000000'
 '2017-04-29T00:00:00.000000000']

In [22]:
train_user_id_list = train_user_df['user_id'].unique()

print('number of users (train) {}'.format(len(train_user_id_list)))

number of users (train) 181730

In [23]:
target_user_id_list = target_user_df['user_id'].unique()

print('number of users (target) {}'.format(len(target_user_id_list)))

number of users (target) 23314

In [27]:
print('\nnumber of different user between train user id and target user id')
print(len(set(train_user_id_list) - set(target_user_id_list)))

# this shows that we can not use user_id as a feature

number of different user between train user id and target user id
173755

In [29]:
print('correlation')
corr_score = train_user_df['referer_code'].corr(train_user_df['has_booking'])
print('corr score of referer_code and has_booking {}'.format(corr_score))

corr_score = train_user_df['is_app'].corr(train_user_df['has_booking'])
print('corr score of is_app and has_booking {}'.format(corr_score))

corr_score = train_user_df['agent_id'].corr(train_user_df['has_booking'])
print('corr score of agent_id and has_booking {}'.format(corr_score))

corr_score = train_user_df['traffic_type'].corr(train_user_df['has_booking'])
print('corr score of traffic_type and has_booking {}'.format(corr_score))

corr_score = train_user_df['action_id'].corr(train_user_df['has_booking'])
print('corr score of action_id and has_booking {}'.format(corr_score))

corr_score = train_user_df['reference'].corr(train_user_df['has_booking'])
print('corr score of reference and has_booking {}'.format(corr_score))

corr_score = train_user_df['step'].corr(train_user_df['has_booking'])
print('corr score of step and has_booking {}'.format(corr_score))

correlation
corr score of referer_code and has_booking -0.04996365727616134
corr score of is_app and has_booking -0.05034281311524376
corr score of agent_id and has_booking -0.1027644482553173
corr score of traffic_type and has_booking -0.08003718320445342
corr score of action_id and has_booking 0.008564912707614244
corr score of reference and has_booking 0.005837510233315804
corr score of step and has_booking 0.08539763680890129

In [32]:
def get_nb_bookings_dict(df, column_name, has_booking_name='has_booking'):
    # key: column value  value: number of bookings
    dict_nb_bookings = dict()
    col_list = df[column_name].unique()
    # print(column_name)
    # print(col_list)
    for value in col_list:
        values = df[train_user_df[column_name] == value][has_booking_name].values
        dict_nb_bookings[value] = sum(values)

    return dict_nb_bookings, col_list

In [ ]:
feature_columns = ['referer_code', 'is_app', 'agent_id', 'traffic_type', 'action_id', 'reference', 'step']

for feature_column in feature_columns:
    dict_feature_column, feature_column_list = get_nb_bookings_dict(train_user_df, feature_column)
    print('\n --------------------')
    print(feature_column)
    print(feature_column_list)
    for code, nb in dict_feature_column.items():
        print('{}: {} #bookings: {}'.format(feature_column, code, nb))
    print('\n --------------------\n')

 --------------------
referer_code
[ 0  1 99 15 11 10 24 21 23 17 19]
referer_code: 0 #bookings: 308655
referer_code: 1 #bookings: 366608
referer_code: 99 #bookings: 43789
referer_code: 15 #bookings: 1297
referer_code: 11 #bookings: 29141
referer_code: 10 #bookings: 10611
referer_code: 24 #bookings: 0
referer_code: 21 #bookings: 1785
referer_code: 23 #bookings: 402
referer_code: 17 #bookings: 21
referer_code: 19 #bookings: 0

 --------------------


 --------------------
is_app
[0 1]
is_app: 0 #bookings: 700019
is_app: 1 #bookings: 62290

 --------------------


 --------------------
agent_id
[ 2 10  1  9 14  7  8  6 13  0 12 11  3  4  5]
agent_id: 2 #bookings: 33809
agent_id: 10 #bookings: 78428
agent_id: 1 #bookings: 224860
agent_id: 9 #bookings: 128684
agent_id: 14 #bookings: 41493
agent_id: 7 #bookings: 69655
agent_id: 8 #bookings: 100821
agent_id: 6 #bookings: 57062
agent_id: 13 #bookings: 22576
agent_id: 0 #bookings: 2848
agent_id: 12 #bookings: 711
agent_id: 11 #bookings: 1354
agent_id: 3 #bookings: 8
agent_id: 4 #bookings: 0
agent_id: 5 #bookings: 0

 --------------------


 --------------------
traffic_type
[ 1  2  6  4  3  7 10]
traffic_type: 1 #bookings: 507089
traffic_type: 2 #bookings: 172942
traffic_type: 6 #bookings: 35121
traffic_type: 4 #bookings: 4504
traffic_type: 3 #bookings: 42193
traffic_type: 7 #bookings: 56
traffic_type: 10 #bookings: 404

 --------------------


 --------------------
action_id
[8001 2116 6999 2503 2113 2100 2362 2306 2358 2350 2146 2331 2145 2122
 2502 2166 2260 2296 8010 2119 2115 2351 2175 2142 2314 2111 2357 2123
 2367 2262 2501 2133 2136 2135 2216 2121 2257 2188 2155 2114 2700 2788
 2784 2884 2710 2791 2726 2792 2702 2226 2252 2156 2504 2863 2773 2721
 2776 2840 2765 2720 2227 2143 2356 2307 2124 2391 2440 2301 2789 2881
 2713 2701 2777 2845 2779 2750 2728 2873 2719 2126 2206 2291 2894 2793
 2897 2778 2848 2860 2851 2853 2844 2704 2759 2761 2706 2892 2820 2850
 2781 2751 2752 2888 2893 2128 2125 2725 2352 2215 2371 2448 2255 2364
 2279 2359 2160 2790 2302 2200 2842 2812 2309 2365 8002 2186 2132 2130
 2714 2846 2733 2887 2134 2205 2131 2729 2735 2794 2711 2811 2814 2731
 2753 2703 2885 2727 2730 8020 2170 2370 2449 2755 2775 2895 2764 2797
 2712 2843 2443 2442 2446 2445 2310 2353 2168 2874 2707 2878 2734 2841
 2385 2732 2292 2876 2875 2869 2148 2891 2857 2856 2705 2380 2137 8006
 2181 2283 2153 2865 2855 2882 2441 2785 2852 2854 2858 2859 2191   29
 2877 2506 2861 2382 2269 2896 2149 2225 2715 2172 2394 2890 2327 8091]
action_id: 8001 #bookings: 64959
action_id: 2116 #bookings: 21854
action_id: 6999 #bookings: 16358
action_id: 2503 #bookings: 8554
action_id: 2113 #bookings: 75590
action_id: 2100 #bookings: 13298
action_id: 2362 #bookings: 2277
action_id: 2306 #bookings: 13738
action_id: 2358 #bookings: 21332
action_id: 2350 #bookings: 19212
action_id: 2146 #bookings: 16241
action_id: 2331 #bookings: 2106
action_id: 2145 #bookings: 3686
action_id: 2122 #bookings: 3685
action_id: 2502 #bookings: 1838
action_id: 2166 #bookings: 17169
action_id: 2260 #bookings: 524
action_id: 2296 #bookings: 4251
action_id: 8010 #bookings: 1476
action_id: 2119 #bookings: 22189
action_id: 2115 #bookings: 17077
action_id: 2351 #bookings: 17693
action_id: 2175 #bookings: 10288
action_id: 2142 #bookings: 173073
action_id: 2314 #bookings: 2002
action_id: 2111 #bookings: 10874
action_id: 2357 #bookings: 9612
action_id: 2123 #bookings: 4757
action_id: 2367 #bookings: 1134
action_id: 2262 #bookings: 1299
action_id: 2501 #bookings: 4624
action_id: 2133 #bookings: 378
action_id: 2136 #bookings: 244
action_id: 2135 #bookings: 139
action_id: 2216 #bookings: 1774
action_id: 2121 #bookings: 5240
action_id: 2257 #bookings: 3299
action_id: 2188 #bookings: 2243
action_id: 2155 #bookings: 12604
action_id: 2114 #bookings: 15789
action_id: 2700 #bookings: 1001
action_id: 2788 #bookings: 915
action_id: 2784 #bookings: 1436
action_id: 2884 #bookings: 859
action_id: 2710 #bookings: 2422
action_id: 2791 #bookings: 1098
action_id: 2726 #bookings: 448
action_id: 2792 #bookings: 3532
action_id: 2702 #bookings: 3655
action_id: 2226 #bookings: 4497
action_id: 2252 #bookings: 4786
action_id: 2156 #bookings: 3202
action_id: 2504 #bookings: 724
action_id: 2863 #bookings: 3363
action_id: 2773 #bookings: 6139
action_id: 2721 #bookings: 410
action_id: 2776 #bookings: 1019
action_id: 2840 #bookings: 94
action_id: 2765 #bookings: 4247
action_id: 2720 #bookings: 993
action_id: 2227 #bookings: 1902
action_id: 2143 #bookings: 2335
action_id: 2356 #bookings: 940
action_id: 2307 #bookings: 272
action_id: 2124 #bookings: 2715
action_id: 2391 #bookings: 1085
action_id: 2440 #bookings: 559
action_id: 2301 #bookings: 301
action_id: 2789 #bookings: 81
action_id: 2881 #bookings: 129
action_id: 2713 #bookings: 704
action_id: 2701 #bookings: 2361
action_id: 2777 #bookings: 1311
action_id: 2845 #bookings: 482
action_id: 2779 #bookings: 113
action_id: 2750 #bookings: 202
action_id: 2728 #bookings: 437
action_id: 2873 #bookings: 1613
action_id: 2719 #bookings: 856
action_id: 2126 #bookings: 129
action_id: 2206 #bookings: 351
action_id: 2291 #bookings: 304
action_id: 2894 #bookings: 67
action_id: 2793 #bookings: 855
action_id: 2897 #bookings: 16
action_id: 2778 #bookings: 174
action_id: 2848 #bookings: 238
action_id: 2860 #bookings: 66
action_id: 2851 #bookings: 52
action_id: 2853 #bookings: 58
action_id: 2844 #bookings: 3647
action_id: 2704 #bookings: 644
action_id: 2759 #bookings: 361
action_id: 2761 #bookings: 954
action_id: 2706 #bookings: 4323
action_id: 2892 #bookings: 120
action_id: 2820 #bookings: 547
action_id: 2850 #bookings: 179
action_id: 2781 #bookings: 195
action_id: 2751 #bookings: 363
action_id: 2752 #bookings: 225
action_id: 2888 #bookings: 83
action_id: 2893 #bookings: 64
action_id: 2128 #bookings: 426
action_id: 2125 #bookings: 859
action_id: 2725 #bookings: 447
action_id: 2352 #bookings: 107
action_id: 2215 #bookings: 1748
action_id: 2371 #bookings: 40644
action_id: 2448 #bookings: 3308
action_id: 2255 #bookings: 503
action_id: 2364 #bookings: 280
action_id: 2279 #bookings: 225
action_id: 2359 #bookings: 227
action_id: 2160 #bookings: 3251
action_id: 2790 #bookings: 188
action_id: 2302 #bookings: 343
action_id: 2200 #bookings: 185
action_id: 2842 #bookings: 3
action_id: 2812 #bookings: 148
action_id: 2309 #bookings: 247
action_id: 2365 #bookings: 28
action_id: 8002 #bookings: 45
action_id: 2186 #bookings: 12
action_id: 2132 #bookings: 31
action_id: 2130 #bookings: 67
action_id: 2714 #bookings: 691
action_id: 2846 #bookings: 260
action_id: 2733 #bookings: 302
action_id: 2887 #bookings: 268
action_id: 2134 #bookings: 18
action_id: 2205 #bookings: 49
action_id: 2131 #bookings: 56
action_id: 2729 #bookings: 268
action_id: 2735 #bookings: 17
action_id: 2794 #bookings: 175
action_id: 2711 #bookings: 99
action_id: 2811 #bookings: 23
action_id: 2814 #bookings: 16
action_id: 2731 #bookings: 26
action_id: 2753 #bookings: 292
action_id: 2703 #bookings: 9
action_id: 2885 #bookings: 4
action_id: 2727 #bookings: 403
action_id: 2730 #bookings: 141
action_id: 8020 #bookings: 32
action_id: 2170 #bookings: 0
action_id: 2370 #bookings: 0
action_id: 2449 #bookings: 250
action_id: 2755 #bookings: 86
action_id: 2775 #bookings: 11
action_id: 2895 #bookings: 2
action_id: 2764 #bookings: 236
action_id: 2797 #bookings: 120
action_id: 2712 #bookings: 158
action_id: 2843 #bookings: 61
action_id: 2443 #bookings: 57
action_id: 2442 #bookings: 60
action_id: 2446 #bookings: 47
action_id: 2445 #bookings: 80
action_id: 2310 #bookings: 2364
action_id: 2353 #bookings: 79
action_id: 2168 #bookings: 105
action_id: 2874 #bookings: 64
action_id: 2707 #bookings: 0
action_id: 2878 #bookings: 3
action_id: 2734 #bookings: 28
action_id: 2841 #bookings: 24
action_id: 2385 #bookings: 34
action_id: 2732 #bookings: 19
action_id: 2292 #bookings: 0
action_id: 2876 #bookings: 11
action_id: 2875 #bookings: 18
action_id: 2869 #bookings: 25
action_id: 2148 #bookings: 3
action_id: 2891 #bookings: 13
action_id: 2857 #bookings: 11
action_id: 2856 #bookings: 2
action_id: 2705 #bookings: 1
action_id: 2380 #bookings: 10
action_id: 2137 #bookings: 51
action_id: 8006 #bookings: 6
action_id: 2181 #bookings: 2
action_id: 2283 #bookings: 3
action_id: 2153 #bookings: 10
action_id: 2865 #bookings: 0
action_id: 2855 #bookings: 0
action_id: 2882 #bookings: 1
action_id: 2441 #bookings: 4
action_id: 2785 #bookings: 7
action_id: 2852 #bookings: 8
action_id: 2854 #bookings: 3
action_id: 2858 #bookings: 0
action_id: 2859 #bookings: 0
action_id: 2191 #bookings: 1
action_id: 29 #bookings: 11
action_id: 2877 #bookings: 2
action_id: 2506 #bookings: 0
action_id: 2861 #bookings: 1
action_id: 2382 #bookings: 5
action_id: 2269 #bookings: 0
action_id: 2896 #bookings: 0
action_id: 2149 #bookings: 2
action_id: 2225 #bookings: 0
action_id: 2715 #bookings: 2
action_id: 2172 #bookings: 0
action_id: 2394 #bookings: 4
action_id: 2890 #bookings: 0
action_id: 2327 #bookings: 0
action_id: 8091 #bookings: 0

 --------------------

In [ ]:
def plot_dict(data_dict):
    """
    plot dictionary
    """
    plt.bar(range(len(data_dict)), list(data_dict.values()), align='center')
    plt.xticks(range(len(data_dict)), list(data_dict.keys()))
    plt.xticks(rotation=90)
    # # for python 2.x:
    # plt.bar(range(len(data_dict)), data_dict.values(), align='center')  # python 2.x
    # plt.xticks(range(len(data_dict)), data_dict.keys())  # in python 2.x
    plt.show()

In [ ]:
dict_referer_code, referer_code_list = get_nb_bookings_dict(train_user_df, 'referer_code')

plot_dict(dict_referer_code)